.Company-years-background
  background-image: url("../img/graphic_black.svg")
  background-position: 26% 170%
  background-size: 170% auto
  background-repeat: no-repeat
  position: relative

  &:before
    content: ""
    top: 0
    left: 0
    right: 0
    bottom: 0
    display: block
    position: absolute
    background-color: #fff
    opacity: .4
    z-index: 0

.Company-history-timeline

  max-width: 1170px !important
  margin: 0 auto
  padding-top: 30px
  clear: both

  & > *
    z-index: 3
    position: relative

  .y-color-1
    background-color: #5e5381

  .y-color-2
    background-color: #7564ab

  .y-color-3
    background-color: #5b6aaa

  .y-color-4
    background-color: #5889ba

  .y-color-5
    background-color: #43a4b9

  .y-color-6
    background-color: #12a079

  .y-color-7
    background-color: #3bb352

  .y-color-8
    background-color: #78ce3f

  .p-1
    left: 0 !important

  .p-2
    left: 53.5% !important

  .p-3
    left: 60% !important

  .p-4
    left: 66.5% !important

  .p-5
    left: 72.5% !important

  .p-6
    left: 78.5% !important

  .p-7
    left: 84.5% !important

  .p-8
    left: 91% !important

  .y-p-1
    left: 6.5%

  .y-p-2
    left: 12.5%

  .y-p-3
    left: 19%

  .y-p-4
    left: 25.5%

  .y-p-5
    left:32%

  .y-p-6
    left: 38.4%

  .y-p-7
    left: 45%

  .c-p-1
    left: 10%

  .c-p-2
    left: 16.5%

  .c-p-3
    left: 22%

  .c-p-4
    left: 29%

  .c-p-5
    left: 35.5%

  .c-p-6
    left: 41.4%

  .c-p-7
    left: 48%

  .c-p-8
    left: 55%


.Company-history-content
  width: 45%
  height: 320px
  position: absolute
  padding-left: 10px
  left: 10%
  top: 10%
  opacity: 1
  transition: left 600ms ease-in

.Company-history-content > *
  animation: contentOpacity 800ms linear

@keyframes contentOpacity {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

.Company-history-content-template
  display: none

.Company-history-content-heading
  color: #5b6aaa


.Company-history-years
  position: relative
  height: 400px

.Company-history-year
  cursor: pointer
  background-color: #dedede
  width: 8%
  height: 100px
  position: absolute
  bottom: 0
  transform: skew(0deg, -30deg)
  transition: height 100ms ease-in, left 600ms ease-in

  &:hover
    height: 190px

  span
    color: #fff
    font-weight: 200
    display: inline-block
    padding: 10px

.Company-history-year-active
  height: 320px
  cursor: default
  &:hover
    height: 320px

.Company-history-nav
  width: 425px
  height: 1px
  background-color: #dadada
  margin: 80px auto 0 auto
  position: relative

  .d-1990
    left: 60px

  .d-2000
    left: 120px

  .d-2011
    left: 180px

  .d-2013
    left: 240px

  .d-2014
    left: 300px

  .d-2015
    left: 360px

  .d-2016
    left: 420px

  .dot-hover-line
    width: 53px
    height: 1px
    background-color: #5b6aaa
    display: inline-block
    position: absolute
    top: 3px
    left: 7px

    &.active
      background-color: #5e5381

.Company-history-dot
  position: absolute
  width: 7px
  height: 7px
  display: inline-block
  border-radius: 50%
  background-color: #dadada
  top: -3px
  cursor: pointer
  &:after
    content: ""
    padding: 14px
    position: absolute
    left: -11px
    top: -11px

.Company-history-dot:hover
  background-color: #11a2d1

.Company-history-dot-hover
  background-color: #11a2d1

.Company-history-dot-active
  background-color: #5b6aaa
  cursor: default

.Company-history-dot-year
  display: inline-block
  width: 60px
  position: absolute
  left: -16px
  top: 18px
  color: #5b6aaa
  font-size: 16px
  font-weight: 500

  &.active
    background-color: #5e5381

@keyframes lineWidth {
  0% {
    width: 0
  }
  100% {
    width: 53px
  }
}
